PORT=5050
MONGO_URI=mongodb://localhost:27017/credvault
VAULT_JWT_SECRET=your_vault_jwt_secret_here
VAULT_JWT_REFRESH_SECRET=your_vault_refresh_secret_here
ACCESS_TOKEN_EXPIRATION=30m
REFRESH_TOKEN_EXPIRATION=7d
NODE_ENV=development
CLIENT_URL=http://localhost:3000
